.godot/
.godot/mono/temp/obj/project.assets.json
.godot/mono/temp/obj/project.assets.json
.godot/mono/temp/obj/project.nuget.cache
.godot/mono/temp/obj/SpaceAce.csproj.nuget.dgspec.json
.godot/mono/temp/obj/SpaceAce.csproj.nuget.g.props
.godot/mono/temp/obj/Debug/SpaceAce.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/SpaceAce.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/SpaceAce.assets.cache
.godot/mono/temp/obj/Debug/SpaceAce.csproj.AssemblyReference.cache
.godot/mono/temp/obj/project.assets.json
.godot/mono/temp/obj/project.nuget.cache
.godot/mono/temp/obj/SpaceAce.csproj.nuget.dgspec.json
.godot/mono/temp/obj/SpaceAce.csproj.nuget.g.props
.godot/mono/temp/obj/Debug/SpaceAce.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/SpaceAce.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/SpaceAce.assets.cache
.godot/mono/temp/obj/Debug/SpaceAce.csproj.AssemblyReference.cache
.godot/mono/temp/obj/project.assets.json
.godot/mono/temp/obj/project.nuget.cache
.godot/mono/temp/obj/SpaceAce.csproj.nuget.dgspec.json
.godot/mono/temp/obj/SpaceAce.csproj.nuget.g.props
.godot/mono/temp/obj/Debug/SpaceAce.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/SpaceAce.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/SpaceAce.assets.cache
.godot/mono/temp/obj/Debug/SpaceAce.csproj.AssemblyReference.cache
.godot/mono/temp/obj/project.assets.json
.godot/mono/temp/obj/project.assets.json
.godot/mono/temp/obj/project.nuget.cache
.godot/mono/temp/obj/SpaceAce.csproj.nuget.dgspec.json
.godot/mono/temp/obj/SpaceAce.csproj.nuget.g.props
.godot/mono/temp/obj/Debug/SpaceAce.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/SpaceAce.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/SpaceAce.assets.cache
.godot/mono/temp/obj/Debug/SpaceAce.csproj.AssemblyReference.cache
